@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');   


:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
    --font-family: 'Roboto', sans-serif;
  }

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  html body {
    width: 100vw;
    background-color: var(--background);
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: var(--text-description);
    margin-bottom: 39px;
  }

  header {
    width: 100%;
  }

  .cabeca {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }


  .cabeca input {
    padding: 13px;
    border-radius: 4px;
    text-align: center;
    border: none;
  }

  .cabeca a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--text);
    text-decoration: none;
  }

  .caixa {
    width: 100%;
    display: flex;
  }

  .texto {
    width: 40%;
  }

  .text {
    width: 70%;
    margin: 0 auto;
  }

  .text h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-top: 100px;
  }

  .text p {
    margin-top: 21px;
    font-family: 'Roboto', sans-serif;
  }
  
  .text h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  #com {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    width: 80%;
    padding: 33px;
    margin-top: 30px;
    background-color: var(--button);
    color: white;
    border-radius: 5px;
    border: none;
  }

  .imagem {
    width: 65%;
    background-color: var(--main-background);
  }

  .tmaior {
    margin-top: 87px;
    text-align: center;
  }

  .img {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    
  }

  .img img {
    border-radius: 10px;
  }

  .rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #botao {
    width: 30%;
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text);
    color: white;
    font-size: 24px;
    font-weight: 700;
  }

  #botao img {
    padding-left: 10px;
  }

  .rodape a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--text);
  }